<!doctype html>
<html>

<head>
</head>

<body>
<h1>My blog</h1>

<section id="news">
    <h2 id="titleNews">News</h2>
    <article class="test">
        <h3 class="title">News 1</h3>
    </article>
    <article class="test">
        <h3 class="title">News 2</h3>
    </article>
    <article>
        <h3 class="title">News 3</h3>
    </article>
</section>

<form id="addNewsForm">
    Title : <input name="titleToAdd" type="text"/>

    <input name="addNewsBtn" type="submit" value="Add news"/>
</form>
<script src="../public/js/const.js" type="text/javascript"></script>
<script src="../public/js/log.js" type="text/javascript"></script>
<script src="../public/js/math.js" type="text/javascript"></script>
<script src="../public/js/main.js" type="text/javascript"></script>
</body>
</html>

