<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <script src="https://unpkg.com/vue@3"></script>
    <style>
        section {
            padding: 5px;
            margin-bottom: 20px;
            border: 1px solid #000000;
        }

        form {
            margin-top: 20px;
        }
    </style>
    <title>TP4 JS</title>
</head>

<body>
<h1>{{ title }}</h1>

<div id="global">

    <section @supp-article="suppArticle($event)" id="news" v-if="getNbArticles">
        <h2 class="text-center" id="titleNews">
            {{ getNbArticles }} {{ art }}
        </h2>
        <article-news :articles="articles"
                      :desc="article.desc"
                      :id="article.id"
                      :index="index"
                      :title="article.title"
                      v-for="(article,index) in articles"
                      v-on:remove="articles.splice(index,1)"
        ></article-news>
    </section>

    <section id="formulaire">
        <form @submit="addArticle">
            <p :style="{color: colorVar}">{{ message }}</p>
            <label>Nom de la news* :</label><br/>
            <input name="titleToAdd" type="text" v-model="titleToAdd"/><br/>
            <label>Description de la news* :</label><br/>
            <textarea name="descriptionToAdd" v-model="descriptionToAdd"></textarea><br/>
            <input name="addNewsBtn" type="submit"/>
        </form>
    </section>

</div>


</body>
<script src="dist/js/duplicatearticleerror.js"></script>
<script src="dist/js/requiredpropertyerror.js"></script>
<script src="dist/js/article.js"></script>

<script src="dist/js/const.js"></script>
<script src="dist/js/log.js"></script>
<script src="dist/js/html.js"></script>
<script src="dist/js/main.js" type="module"></script>

</html>